.footer-area {
  background-color: $white;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ddd;
 
 
    .about-widget {
      .footer-logo {
        display: inline-block;
        @media #{$lg-device} {
          max-width: 150px;
        }
        @media #{$sm-device} {
          max-width: 130px;
        }
      }
      p {
        margin-bottom: 40px;
      }
    }
    .widget-contact-info {
      align-items: center;
      color: $black;
      display: flex;
      margin-bottom: 0;
      margin-top: -29px;
      li {
        color: $black;
        font-size: 16px;
        letter-spacing: -0.1px;
        padding: 0 8px;
        @media #{$xxs-device} {
          font-size: 14px;
        }
        a {
          color: $black;
          position: relative;
          &:after {
            background-color: #535353;
            bottom: 1px;
            content: "";
            height: 1px;
            right: 0;
            position: absolute;
            width: 0;
            @include transition(0.3s);
          }
          &:hover {
            color: $black;
            &:after {
              left: 0;
              width: 100%;
            }
          }
        }
        span {
          margin-left: 3px;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          margin-right: 0;
          padding: 0;
        }
      }
    }
    .widget-copyright {
      margin-top: 29px;
      p {
        color: $black-999;
        font-size: 16px;
        letter-spacing: -0.1px;
        padding-top: 0;
        @media #{$xxs-device} {
          font-size: 13px;
        }
        span {
          color: $black;
          font-weight: $font-weight-bold;
        }
        i {
          color: $theme-color4;
          font-size: 16px;
          margin: 0 5px;
        }
        a {
          color: $black;
          font-weight: $font-weight-bold;
          letter-spacing: -0.15px;
        }
      }
    }
    .footer-content {   
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media #{$xxs-device} {
        justify-content: center;
      }
      @media #{$xs-device} {
        justify-content: center;
      }
      .widget-footer-nav {
        ul {
          margin-bottom: 0px !important;
          li {
            display: inline-block;
            padding: 0 20px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            a {

              display: block;
              font-size: 14px;
              line-height: 1.2;
              font-weight: 600;
              font-family: $heading-font;
              /* text-transform: uppercase; */
              color: #463d3d;
              letter-spacing: 0.06em;

              &:hover {
                color: $theme-color;
              }
              @media #{$xxs-device} {
                font-size: 10px;
              }
              @media #{$xs-device} {
                font-size: 10px;
              }
            }
          }
        }
      }

      .widget-item-social {
        display: flex;
        justify-content: center;
        @media #{$xs-device} {
          display: none;
        }
        @media #{$xxs-device} {
          display: none;
        }
        
        .social {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
    
            li {
                display: inline-block;
    
                span {
                    display: inline-block;
                    position: relative;
                    margin-right: 3px;
                    font-weight: 600;
                    top: -2px;
                }
                a {
                    display: block;
                    width: 35px;
                    height: 35px;
                    line-height: 33px;
                    border-radius: 50%;
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                    border: 1px solid var(--mainColor);
                    text-align: center;
                    font-size: 16px;
                    margin-left: 2px;
    
                    @media #{$xs-device} {
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                      }
                      @media #{$xxs-device} {
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                      }
                    
                    &:hover {
                        color: var(--mainColor);
                        background-color: transparent;
                    }
                    &.facebook {
                        background-color: #3b5998;
                        color: var(--whiteColor);
                        border-color: #3b5998;
    
                        &:hover {
                            color: #3b5998;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #1da1f2;
                        color: var(--whiteColor);
                        border-color: #1da1f2;
    
                        &:hover {
                            color: #1da1f2;
                            background-color: transparent;
                        }
                    }
                    &.linkedin {
                        background-color: #007bb5;
                        color: var(--whiteColor);
                        border-color: #007bb5;
    
                        &:hover {
                            color: #007bb5;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #c13584;
                        color: var(--whiteColor);
                        border-color: #c13584;
    
                        &:hover {
                            color: #c13584;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
      }
    

      .widget-copyright {
        @media #{$md-device} {
          margin-bottom: 25px;
        }
      }
      .about-widget {
        .footer-logo {
          @media #{$md-device} {
            display: inline-block;
            margin-bottom: 0px;
          }
        }
      }
      .widget-social {
        margin-bottom: 0;
        @media #{$xxs-device} {
          display: none;
        }
        @media #{$xs-device} {
          display: none;
        }
        li {
          display: inline-block;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          &.social-text {
            margin-right: 50px;
            // Responsive
            @media #{$lg-device} {
              margin-right: 25px;
            }
            span {
              font-size: 14px;
              font-weight: 700;
              line-height: 1.2;
              font-family: $heading-font;
              text-transform: uppercase;
              color: $heading-font;
            }
          }
          a {
            font-size: 18px;
            line-height: 1.3;
            color: $body-color;
            &:hover {
              color: $heading-color;
            }
          }
        }
      }
    }
}


.site-wrapper-reveal {
  position: relative;
  @media #{$md-device} {
    margin-bottom: 0 !important;
  }
}
