.signin-area{
  .signin-google{
      button{
          border: 1px solid #ddd;
          width: 256px;
          margin-bottom: 12px;
          padding: 8px;
          background-color:#ffffff;
          color: black;
          font-size: 14px;
      }
  }
  .signin-facebook{
     
      i{
            font-size: 24px;
            vertical-align: middle;
            color: white;
      }
      button{
          border: none;
          width: 256px;
          margin-bottom: 12px;
          padding: 8px;
          background-color: #4267B2;
          color: white;
          font-size: 14px;
      }
  }
  .signin-email{
      input{
          border: 1px solid rgb(126, 120, 120);
          width: 256px;
          margin-bottom: 12px;
          padding: 8px;
      }
      p{
          color: red;
      }
      button{
          margin-bottom: 12px;
      }
  }

  .social-links{ 
      ul{  
          margin-bottom: 0;
          list-style-type: none;
          margin-left: auto;
          margin-right: auto;

          li {
              display: inline-block;
                & + li {
                       margin-left: 12px;
                      }
              span{
                   display: inline-block;
                   font-weight: 500;
              }
              a {
                  width: 35px;
                  height: 35px;
                  display: block;
                  font-size: 17px;
                  border-radius: 50%;
                  text-align: center;
                  position: relative;   
                  border: 1px solid var(--mainColor);
                  i{
                      left: 0;
                      right: 0;
                      top: 50%;
                      margin-top: -1px;
                      position: absolute; 
                      transform: translateY(-50%);
                  }           
              }
              a.facebook{           
                  background-color: #3b5998;
                  color: var(--whiteColor);
                  border-color: #3b5998;
          
              }
              a.twitter {
                  background-color: #1da1f2;
                  color: var(--whiteColor);
                  border-color: #1da1f2;
              }
              a.instagram {
                  background-color: #c13584;
                  color: var(--whiteColor);
                  border-color: #c13584;
              }
          }
      }
  }  
} 

.mobile-user-profile-detail{
    img{
        width: "60px";
    }
    // button {
    //       border: none;
    //       font-family: "Roboto", 'sans-serif';        
    //       padding: 6px 14px;
    //       background-color: #4267B2;
    //       color: white;
    //       text-transform: uppercase;
    //       letter-spacing: 0.08em;
    //       font-size: 14px; 
    // }
    p{
        font-family: "Roboto", 'sans-serif';        
          color: rgb(27, 26, 26);
          text-transform: uppercase;
          letter-spacing: 0.08em;
          font-size: 14px;  
          font-weight: 500;
    }
    a{
        font-family: "Roboto", 'sans-serif';        
        color: rgb(27, 26, 26);
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-size: 12.5px;  
        font-weight: 500;
    }

}