 
  .data-filter-menu {
      margin-top: 16px;
      margin-bottom: 16px;
      button {
          border: none;
          background:#141b28;;
          color: #ffffff;
          font-size: 13.5px;
          font-weight: 500;
          // border-radius: 30px;           
          padding: 8px 14px;
          text-transform: uppercase;
          position: relative;          
          margin-right: 4px;
          width: 200px;
          letter-spacing: 0.02em;
          font-family: 'Open Sans', sans-serif;

          @include transition(0.3s);
          &:last-child {
            margin-right: 0;
          }         
          
          span {
              position: relative;
              display: inline-block;        
              &.filter-text {
                  text-transform: uppercase;
                  line-height: 1.58;                
                  -webkit-transition: all 0.3s
                      cubic-bezier(0.645, 0.045, 0.355, 1);
                  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }         
      }

      .is-checked{             
        background:#445370;;
        color: #ffffff67;
      }
  }
 
  .product-card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;

      .card-img-top {
        border-top-left-radius: calc(1rem - 1px);
        border-top-right-radius: calc(1rem - 1px);
        width: 100%;
        max-height: 180px;
      }  
      h5 {
        overflow: hidden;
        min-height: 56px;
        font-weight: 600;
        font-size: 1rem
      }
      h2 {
        font-size: 1rem
      }

      &:hover{      
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)        
      }

  }

  .product-card-details{
    .product-name{
      text-align: center;
    
    }

    .price-item{     
        border: 1px solid rgb(228, 21, 124);
        margin: 6px;
        padding-top: 8px;
        @media #{$xs-device} {
          margin: 0px;
        }     
    }

    
    .product-contact{
      display: flex;
      .mobile{
        i{
          font-size: 24px;
          vertical-align: middle;
          color:#0d6c40;
        }
        span{
          font-size: 16px;
          margin-left: 4px;
        }
        h6{
          padding-top: 8px;
        }
      }
      .address{
        i{
          font-size: 26px;
          vertical-align: middle;
          color:#1a669d;
        }
        span{
          font-size: 16px;
          margin-left: 4px;
        }
        h6{
          padding-top: 8px;
        }
      }
      .timing{
        i{
          font-size: 24px;
          vertical-align: middle;
          color: #ff0076;
        }
        span{
          font-size: 16px;
          margin-left: 4px;
        }
        h6{
          padding-top: 8px;
        }
      }
    }


  }



